<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boodhram.guideme">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Chat.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBDLQIsOWn5WgTxRkNEVfdeGZOQJRvxiDM" />

        <activity
            android:name=".GeoFencing.NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name=".UomPlacesActivity"
            android:label="@string/title_activity_map_fragment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MeetingPointActivity"
            android:label="@string/title_activity_map_fragment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SpotFriendsActivity"
            android:label="@string/title_activity_map_fragment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chat.Register"
            android:label="@string/register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chat.Users"
            android:label="@string/users"
            android:theme="@style/ActionBarTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chat.Chat"
            android:label="@string/title.chat"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chat.Login"
            android:theme="@style/ActionBarTheme"
            android:label="@string/title_activity_login" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".GeoFencing.GeofenceTransitionsIntentService" />


    </application>

</manifest>